li{
  list-style: none;
  margin: auto;
  padding: 2px;
  margin-bottom: 23px;
  background: #232;
  color: #fff;
  width: 20%;
  font-size: 18px;
  display: flex;
  align-content: center;
  justify-content: center;
}
a{
  color: #fff;
  text-decoration: none;
}
h1{
  text-align: center;
}